.about-wrapper {
  @include display-flex;
}

.about-image {
  width: 575px;
  //height: 410px;
}

.primary-text {
  padding: 150px 0;
}

.primary-text:nth-child(odd) {
  background: white;
}

@media (max-width: 990px) {
  .primary-text {
    padding:90px 0;
  }
}

@media (max-width: 700px) {
  .primary-text {
    padding: 60px 0;
  }
}