.about-wrapper {
  @include display-flex;
}

.about-image {
  width: 575px;
  //height: 410px;
}

.primary-text {
  padding: 150px 0;
}

.primary-text ~ .primary-text {
  background: #F1F1F1;
}

.in-page-link-wrapper {
  text-align: center;
  //display: inline-block;
  margin: 30px 0;
}

.in-page-link:after {
  content: "|";
  padding-left: 5px;
}

.in-page-link:last-child:after {
  content: none;
}

@media (max-width: 990px) {
  .primary-text {
    padding:90px 0;
  }
}

@media (max-width: 700px) {
  .primary-text {
    padding: 60px 0;
  }
}