.page-template-page-stone-collection {
  background: white;
}

.individual-stone-style {
  margin-right: 20px;
}

.individual-stone-style:nth-child(3n) {
  margin-right: 0;
}

.individual-stone-style h4 {
  text-align: center;
}

.flex-stone-collection {
  //justify-content: space-between;
  flex-wrap: wrap;
  //fles: 0 0 382px;
}

.collection-cta {
  text-align: center;
  margin: 40px 0 60px;
}

.collection-cta a {
  margin-right:65px;
}

.collection-cta a:last-child {
  margin-right: 0;
}

.stone-content {
  padding: 30px 0;
}

@media (max-width: 1185px) {
  .flex-stone-collection {
    justify-content: center;
  }

  .stone-style-wrapper h4 {
    text-align: center;
  }

  .individual-stone-style:nth-child(2n) {
    margin-right: 0;
  }

  .individual-stone-style:nth-child(3n) {
    margin-right: 20px;
  }
}