.pas_locatoroid_map {
  position: relative;
}

#hclc_search_form, #hclc_map {
  width: 727px!important;
}

#hclc_map {
  height: 522px!important;
}

.hc-col-8 {
  width:80%!important;
}

.hc-col-4 {
  width:15%!important;
}

.lpr-location-featured::before, .lpr-list-wrapper::before {
  color: #908787;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: $font__weight-bold;
}

.lpr-location-featured::before {
  //content: "Master Distributor";
}

#hclc_search_form {
  z-index: 10;
}

#master-featured-listing {
  border: none;
  background: #F1F1F1;
}

.hc-rounded {
  border-radius: 0!important;
}
.hc-border-green {
  border-color: transparent!important;
}

.hc-border {
  border-style: solid;
  border-width: 1px;
  border-color: transparent!important;
  //border: none;
}

.hc-outlined {
  outline: none!important;
}


.hc-bold lpr-location-name, .hc-italic lpr-location-address, lpr-location-phone, lpr-location-website {
  width: 20%;
}

.hc-mb3:first-child {
  //background: yellowgreen;
}

#dealer-locator-link {
  float: left;
  width: 30%;
}

#locatoraid-form-container {
  //background: springgreen;
  float: right;
  //display: inline-block;
}

#locatoraid-form-container::after {
  @include clearfix;
  @include clearfix-after;
}

.page-id-12 .in-page-link-wrapper {
  margin-bottom: 30px;
}

#locatoraid-search-form-button {
  border: 1px solid #908787;
  border-radius: 0;
  height: 30px;
  background: white;
  color: #908787;
  font-weight: $font__weight-bold;
}

//#master-featured-listing {
//  color: blue;
//}

//.individual-distributor {
//  width:20%;
//  display: inline-block;
//}

.lpr-location {
  //display: inline-block;
}

#hclc_list {
  display: flex;
}
