.feature-wrapper {
  padding: 145px 0;
}

.content-wrapper {
  @include display-flex;
  //display: flex;
}

.half.text {
  //border: 1px lawngreen solid;
  padding-right:70px; //to give it space beside the photo
}

.half {
  width:50%;
}

.third {
  width: 33.33%;
}

.third.text {
  padding-right: 40px;
}

@media (max-width: 1040px) {
  .half.text {
    padding-right: 30px;
  }

  .content-wrapper {
    //flex-direction: column;
  }
}

@media (max-width: 990px) {
  .half {
    width:65%;
    //max-width: ;
  }

  .half.text {
    padding-right: 0;
    line-height: 1.7;
  }

  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .primary-text {
    //padding: 110px 0;
  }

  .feature-wrapper {
    padding: 90px 0;
  }
}

@media (max-width: 800px) {
  .half {
    width: 75%;
  }
}

@media (max-width: 700px) {
  .feature-wrapper {
    padding: 60px 0;
  }
}

@media (max-width: 680px) {
  .half {
    width: 90%;
  }
}