//home page be inspured sections
.be-inspired {
  padding: 320px 0;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.be-inspired h2, .be-inspired p {
  max-width: 565px;
}

.be-inspired p {
  margin-bottom:60px;
}

.gallery-container {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,1);
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    text-align: right;
    width: 100%;
    margin-right: 10%;
  }
}

.gallery-container.showGallery {
  display: flex;
  //float:left;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  img {
    display: block;
    width: 20%;
  }
}

.wpupg-item-margin {
  margin: 5px 5px 5px 0!important;
}

//styling the filter boxes
.select2wpupg-container--default .select2wpupg-selection--single {
  border-radius: 0;
}

//styling the dropdown filters
.select2wpupg-results, .selection {
  text-align: center;
  text-transform: uppercase;
}

.select2wpupg-container--default .select2wpupg-selection--single {
  border-bottom: 1px solid #908787!important;
}

.flexslider {
  border-radius: 0!important;
  border: none!important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease!important;
  background-color: rgba(241,241,241,0.8)!important;
}

.overlay {
  text-align: center;
}

.overlay-center {
  @include absolute-center;
}

.wpupg-item {
  //background: #f1f1f1;
}

.wpupg-item:hover .overlay {
  opacity: 1;
}

@media (max-width: 1200px) {
  .be-inspired {
    padding: 240px 0;
  }
}

@media (max-width: 990px) {
  .be-inspired {
    padding: 90px 0;
    text-align: center;
    //margin: auto;
  }
  .be-inspired h2, .be-inspired p {
    margin: auto;
  }

  .be-inspired p {
    margin-bottom:20px;
  }
}

@media (max-width: 580px) {
  .be-inspired {
    padding-left: 20px;
  }
}
