//home page be inspured sections
.be-inspired {
  padding: 320px 0;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.be-inspired h2, .be-inspired p {
  max-width: 565px;
}

.be-inspired p {
  margin-bottom:60px;
}

.gallery-container {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,1);
  a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    text-align: right;
    width: 100%;
    margin-right: 10%;
  }
}

.wpupg-grid {
  //max-width: 1200px;
  //margin: 0 auto;
  //display: flex;
  //flex-wrap: wrap;
  //display: flex!important;
  //margin-bottom: 50px;
}

.gallery-container.showGallery {
  display: flex;
  //float:left;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  img {
    display: block;
    width: 20%;
  }
}

.wpupg-item-margin {
  margin: 5px 2px!important;
}

.flex-direction-nav a.flex-next::before {
  content: 'I GO THIS WAY';
}

@media (max-width: 1200px) {
  .be-inspired {
    padding: 240px 0;
  }
}

@media (max-width: 990px) {
  .be-inspired {
    padding: 90px 0;
    text-align: center;
    //margin: auto;
  }
  .be-inspired h2, .be-inspired p {
    margin: auto;
  }

  .be-inspired p {
    margin-bottom:20px;
  }
}

@media (max-width: 580px) {
  .be-inspired {
    padding-left: 20px;
  }
}

//playing
.flexslider .slides img {
  width: 700px!important;
  height: auto!important;
}