.be-inspired {
  padding: 320px 0;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.be-inspired h2, .be-inspired p {
  max-width: 565px;
}

.be-inspired p {
  margin-bottom:60px;
}

@media (max-width: 1200px) {
  .be-inspired {
    padding: 240px 0;
  }
}

@media (max-width: 990px) {
  .be-inspired {
    padding: 90px 0;
  }
}

@media (max-width: 580px) {
  .be-inspired {
    padding-left: 20px;
  }
}