h1, h2, h3, h4, h5, h6 {
	clear: both;
	text-transform: uppercase;
}

//page headings
h1 {
	font-family: $font__main;
	font-size: 60px;
	color: white;
	font-weight: $font__weight-light;
	text-transform: none;
}

h2, h3, h4, h5, h6 {
	color: #908787;
}

//beinspired main text content
.be-inspired, .be-inspired h2 {
	color:white;
	text-transform: none;
}

//feature titles (home)
h2 {
	font-weight: $font__weight-bold;
	font-size: 28px;
	color: #333333;
	text-transform: capitalize;
}

//feature headers (be inspired etc)
h4 {
	margin-bottom: 30px;
}

h5 {
	//text-transform: uppercase;
}