//for my components like quick-links

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.quick-links-section {
	margin: 100px 0 150px;
	//background: white;
}

.quick-links-wrapper {
	@include display-flex;
	justify-content:space-between;
	max-width: 800px;
	margin: auto;
}

.quick-links {
	width: 360px;
	height: 220px;
	position: relative;
	display: inline-block;
	background: #908787;
}

.quick-links:hover:after {
	content:"\A";
	width:100%;
	height:100%;
	background:rgba(199,189,180,0.5);
	position:absolute;
	top:0;
	left:0;
}

.quick-links a {
	@include absolute-center;
	text-decoration: none;
	//max-width: 150px;
	//color: white;
	z-index: 5;
}

.quick-links:first-child {
	//margin-left: auto;
}

@media (max-width:880px) {
	.quick-links-section {
		margin-bottom:100px;
	}

	.quick-links-wrapper {
		justify-content: space-around;
	}

	.quick-links {
		width: 325px;
		//height: 125px;
	}
}

@media (max-width:700px) {
	.quick-links-wrapper {
		flex-direction: column;
		align-items: center;
	}

	.quick-links {
		margin-bottom:30px;
		//height: auto;
	}
}