//for my components like quick-links

.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.quick-links-section {
	margin: 100px 0 150px;
}

.quick-links-wrapper {
	@include display-flex;
	justify-content:space-between;
	max-width: 800px;
	margin: auto;
}

.quick-links {
	width: 360px;
	height: 220px;
	position: relative;
	display: inline-block;
}

.quick-links:hover {
	opacity: 0.5;
}

.quick-links a {
	@include absolute-center;
	text-decoration: none;
	//max-width: 150px;
	//color: white;
}

.quick-links:first-child {
	//margin-left: auto;
}

