footer, footer a {
  color: white;
}

footer {
  background: #333333;
  //display: flex;
  font-size: 14px;
}

footer a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px 0;
}

footer h4 {
  margin: 40px 0 20px;
}

footer ul {
  margin-left:0;
  padding-left:0;
}

footer ul li {
  list-style-type: none;
}

.footer-wrapper {
  display: flex;

}

.footer-column {
  //border: 1px solid royalblue;
  width: 20%;
  //margin-left: 60px;
}

.footer-contact a {
  text-transform: capitalize;
}

.footer-showroom a, .site-info a {
  display: inline-block;
}

@media (max-width: 1200px) {
  .footer-wrapper {
    justify-content: center;
  }

  .spacer {
    display: none;
  }
}

@media (max-width: 980px) {
  .footer-wrapper {
    flex-wrap: wrap;
    align-items: center;
  }

  .footer-column {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 660px) {
  .footer-column {
    width: 95%;
  }

  .footer-showroom {
    order: 5;
  }

  .footer-showroom h4 {
    margin-top: 0;
  }
}