a {
	color: $color__link;

	&:visited {
		//color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		//color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.block-link {
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	font-weight: $font__weight-bold;
	//display: block;
	border: 1px solid white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
}

.block-link.featured-image-wrapper {
	color: #908787;
}