a {
	color: $color__link;
	text-decoration: none;
	transition: color 0.25s ease-in;

	&:visited {
		//color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.block-link {
	font-size: 14px;
	text-transform: uppercase;
	color: white;
	font-weight: $font__weight-bold;
	border: 1px solid white;
	padding: 20px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition: background 0.25s ease-in, border 0.25s linear;
}

.block-link:hover {
	background: #908787;
	border-color: #908787;
	color: white;
}

.block-link.featured {
	color: #908787;
	border: 1px solid #908787;
	margin-top: -10px;
}

.block-link.featured:hover {
	color: white;
}

.stone-nav-wrapper {
	text-align: center;
}

.stone-nav-link {
	margin-right:10px;
	padding-right: 8px;
	border-right: 1px solid #908787;
}

.stone-nav-link:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}